* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: #E60012;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    align-items: center;
    padding-left: 15px;
    z-index: 1;
}

#conteneurHeader {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding-right: 15px;
}

svg {
    margin: 0px 0px 4px;
}

.icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin: 0px 0px 4px;
    padding: 0px 4px;
}

nav {
    background-color: #E60012;
    position: fixed;
    top: 70px;
    width: 88px;
    height: 100%;
    font-size: 11.2px;
}

#conteneurNav {
    display: flex;
    border: 70px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: auto;
}

.block {
    width: 88px;
    height: 88px;
    text-align: center;
}

.posTriangle {
    position: relative;
    top: 0px;
    right: -40px;
}

.centre{
    display: flex;
    flex-direction: row;

}

section {
    padding-top: 75px;
    padding-left: 93px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    float: left;
    width: 70%;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1;
    grid-row: 2/4;
}

.cinco {
    grid-column: 2;
    grid-row: 2;
}

.seis {
    grid-column: 3;
    grid-row: 2;
}

.sieben {
    grid-column: 2/4;
    grid-row: 3;
}

.acht {
    grid-column: 1;
    grid-row: 4;
}

.neun {
    grid-column: 2;
    grid-row: 4;
}

.dix {
    grid-column: 3;
    grid-row: 4;
}

.unidici {
    grid-column: 1;
    grid-row: 5/7;
}

.dodici {
    grid-column: 2;
    grid-row: 5;
}

.tredici {
    grid-column: 3;
    grid-row: 5;
}

.quattordici {
    grid-column: 2/4;
    grid-row: 6;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px;
    transition: .1s;
}
img:hover{
    transform: translateY(-10px);
}

aside {
    padding-top: 75px;
    background-color: #E60012;
    float: left;
    width: 30%;
}

.footerNoir {
    grid-column: 1/4;
    grid-row: 7;
    display: flex;
    color: white;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 57px;
}
.facebook {
    display: flex;
    color: white;
    background-color: #385998;
    width: 188px;
    height: 36px;
    margin-left: 30px;
    font-size: 14px;
    align-items: center;
    border-radius: 5px;
}

.twitter {
    display: flex;
    color: white;
    background-color: #55ACEE;
    width: 188px;
    height: 36px;
    margin-left: 30px;
    font-size: 14px;
    align-items: center;
    border-radius: 5px;
}

.footerNintendo {
    grid-column: 1/4;
    grid-row: 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e60012;
    height: 48px;
    padding-right: 30px;
    padding-left: 30px;
}

.footerRouge {
    grid-column: 1/4;
    grid-row: 9;
    background-color: #bf0010;
    height: 129px;
    padding-left: 30px;
    font-size: 12px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    display: flex;
    color: white;
    background-color: #bf0010;
    height: 32px;
    width: 113px;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .section, .aside {
      width: 100%;
    }
}